node_modules/
package-lock.json
# public/build/
# Ignore build outputs - these should be built by consuming applications
dist/
public/build/
node_modules/
.DS_Store
*.log

# Thumbnail quality test files
quality-test.php
quality_tests/
test-thumbnail.php
thumbnail-method-test.php
